DailyScrum/DailyScrum/Web References/ReportsReference/Reports1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DailyScrumWebService.ModelViews" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DailyScrumWebService.ModelViews" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfViewReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewReport" nillable="true" type="tns:ViewReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewReport" nillable="true" type="tns:ArrayOfViewReport" />
  <xs:complexType name="ViewReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      <xs:element minOccurs="0" name="Submit" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewReport" nillable="true" type="tns:ViewReport" />
</xs:schema>