DailyScrum/DailyScrum/Web References/ProjectsReference/Projects0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DailyScrumWebService.ModelViews" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DailyScrumWebService.ModelViews" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfViewProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewProject" nillable="true" type="tns:ViewProject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewProject" nillable="true" type="tns:ArrayOfViewProject" />
  <xs:complexType name="ViewProject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewProject" nillable="true" type="tns:ViewProject" />
</xs:schema>