DailyScrum/DailyScrum/Web References/ProjectsReference/Projects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.42.35/Projects.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DailyScrumWebService.ModelViews" />
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DailyScrumWebService.ModelViews" minOccurs="0" name="GetResult" nillable="true" type="q1:ArrayOfViewProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>